<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>html5可视化开发</title>
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/jquery-ui-min/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <style type="text/css">
    .parent {}
    </style>
</head>

<body>
    <div id="view">
        <div class="top">
            <div class="menu">
            </div>
            <div class="content">
                <gridster :items="items"></gridster>
            </div>
        </div>
        <div class="bottom">
            <div class="type">
                <label class="control-label">分类:</label>
                <select multiple class="form-control">
                    <option @click="changeType('全部')" :selected="nowType=='全部'">全部</option>
                    <option v-for="(value,key) in nowElementStyles" @click="changeType(value.name)" :selected="nowType==value.name">{{value.name}}</option>
                </select>
            </div>
            <div class="detail">
                <label class="control-label">属性:<input class="search" placeholder="搜索属性: width" @keypress="searchInputKeyPress($event)" v-model="nowDeatil"></label>
                <br>
                <form class="form-inline styleShowForm" role="form">
                    <template v-for="(value,key) in nowElementStyles">
                        <div class="form-group" v-show="value.name==nowType || nowType=='全部'">
                            <template v-for="(subvalue,subkey) in value">
                                <div class="cell" v-show="subkey!='name' && subkey.indexOf(nowDeatil.toLowerCase())!=-1">
                                    <label class="control-label" >{{subkey}}：</label>
                                    <!-- <input class="showInput form-control" name="" :value="value"> -->
                                    <input v-if="subkey.indexOf('-')==-1" class="showInput" @change="styleChange($event,subkey)" v-model="nowElement.style[subkey]" :size="value.length" />
                                    <input v-else class="showInput" @change="styleChange($event,subkey)" v-model="nowElement.style[(subkey.split('-')[0]+_.upperFirst(subkey.split('-')[1]))]" :size="value.length" />
                                </div>
                            </template>
                    </template>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="../vendor/jquery-ui-min/jquery-ui.js"></script>
<script type="text/javascript" src="../vendor/lodash/lodash.min.js"></script>
<script type="text/javascript" src="../vendor/vue/vue2.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript">
view.init();
</script>

</html>
