@import url(./elements.less);
body
{
    overflow: hidden;
}
#view
{
    .ui-sortable-placeholder{
        display:inline-block;
        vertical-align: top;
    }
    .choose
    {
        box-shadow: 0 0 10px red;
    }
    .top
    {
        width: 100%;

        border: 1px solid;
        .menu
        {
            float: left;

            width: 15%;
            height: 100%;

            border-right: 1px solid;
        }
        .content
        {
            float: left;
            overflow: auto;

            width: 85%;
            height: 100%;
            #gridster
            {
                min-height: 100px;
            }
        }
    }
    .bottom
    {
        width: 100%;
        height: 100%;
        padding: 1em;

        border: 1px solid;

        .search();
        .type
        {
            float: left;

            width: 20%;
            height: 100%;
            padding-right: 1em;

            border-right: 1px solid;
        }
        .detail
        {
            float: left;

            width: 80%;
            height: 100%;
            padding-left: 1em;
            .styleShowForm
            {
                height:80%;
                overflow: auto;
                .form-group
                {
                    display: flex;

                    width: 100%;

                    flex-wrap: wrap;
                }
                .cell
                {
                    padding: .5em 0;
                    white-space: nowrap;
                }
                .showInput
                {
                    display: inline;

                    border: none;
                    border-bottom: 1px solid;
                    border-radius: 0;
                    background-color: transparent;
                    &:focus
                    {
                        outline: none;
                    }
                }
            }
        }
    }
}

.search()
{
    .search
    {
        font-weight: normal;

        margin-left: 1em;

        border: none;
        border-bottom: 1px solid #d5d1d1;
        background-color: transparent;
        &:focus
        {
            outline: none;
        }
    }
}
