.sort
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    .item
    {
        float: left;

        width: 100px;
        height: 100px;
        margin: 2px;

        color: white;
        background-color: red;
    }
}

.sortHelper{
		float:left;
		width: 100px;
        height: 100px;
        margin: 2px;

        border:1px dashed;
}